.blogs h2 {
  display: flex;
  justify-content: center;
}

.blogItem{
  padding: 0 25rem;
}

.blogItem h3 {
  display: flex;
  justify-content:center;
}

.description {
  display: flex;
  justify-content: center;
}
