/* display: flex;
flex-direction: column;  */

.navigation {
  display: flex;
  justify-content: center;
}

.navigation ul {
  margin-top: 1rem;
  display: flex;
}

.navigation li {
  list-style: none;
  margin: 0 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.heading {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
}

.blogs {
  display: flex;
  justify-content: center;
}