/* display: flex;
flex-direction: column;  */

.heading {
  display: flex;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
}

.blogs {
  display: flex;
  justify-content: center;
}
